.checkbox-list-output-container {
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.checkbox-list-output-description {
    color: #777;
    border-bottom: solid #ccc 1px;
}
.checkbox-list-output-values {
    list-style-type: none;
    margin-top: .25rem;
    padding-left: 2rem;
    font-size: 1.125rem;
}
.checkbox-list-output-values li {
    padding: .25rem 0 .25rem 1rem;
}

@media print {
    .checkbox-list-output-container {
        page-break-inside: avoid;
    }
}